
body {
	behavior: url(csshover.htc);  /* WinIE behavior call */
}

#nav {
	float:left;
	margin:0;
	background:#FFF;
}

#nav ul {
	margin:0;
	padding:0;
	background:#FFF;
}

#nav li {	
	position:relative;
	list-style:none;
	margin:0;
	float:left;
	width:192px;
	border-bottom:2px solid #BBB;
}

#nav li:hover {
	background:#CCC;
	color:#FFF;
}

#nav li a {
	display:block;
	padding:10px 0;
	text-align:center;
	text-decoration:none;
	font-family:Verdana, Geneva, sans-serif;
	font-weight:700;
	color:#000;
}

div#nav>ul a {
width:auto;
}

#nav li.submenu {
	background: url(../images/dropmenu.gif) 85% 50% no-repeat;
}

#nav li.submenu li.submenu {
	background: url(../images/submenu.gif) 85% 50% no-repeat;
}


#nav ul.level1 li.submenu:hover ul.level2,
#nav ul.level2 li.submenu:hover ul.level3 {
	display:block;
}

#nav ul.level2 {
	top:0;
	left:0;
}

#nav ul.level3 {
	top:0;
	left:192px;
}

#nav ul ul {
	position:absolute;
	width:192px;
	display:none;
}