
body {
	background-image:url(../images/skullfudge.gif);
	background-repeat:no-repeat;
	z-index:1;
}

.fof {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:30px;
	font-style:oblique;
}