@charset "UTF-8";
/* CSS Document */

#container {
	width:95%;
	margin:auto;
}

body {
	background-color:#333132;
	text-align:center;
	line-height:1.25;
	color:white;
	background-image:url(../images/bw-iso.png);
	background-repeat:repeat;
}

/* GLOBALS */

.vocab {
	color: limegreen;
}

a {
	color: yellow;
	text-decoration: none;	
}

p {
	font-size: 1.5em;
	text-align: left;
	margin-left: 2%;
	margin-right: 2%;	
}

h1 {
	font-size: 3em;
	text-align: left;
	margin-left: 4%;
	margin-bottom: -1%;
}

h2 {
	color: aqua;
	font-size: 30px;
	text-align: left;
	margin-left: 2%;
	margin-bottom:-1%;

}

h3 {  
	color: white;
	font-size: 30px;
	text-align: center;
	margin-left: 2%;
	margin-right: 2%;
}	/* Directory Page Is Using This Tag */

h4 {  
	font-size: 30px;
	text-align: left;
	margin-left: 4%;
	margin-bottom: -1%;
} 		

/* END GLOBALS */

#title {
	display: block;
	width: 90%;
	margin: auto;
	text-align: center;
	line-height: 1;
	background-color: black;
	padding: 20px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	box-shadow: 7px 7px 3px rgba(255,255,255,0.3);
	color: white;
	font-size: 3em;
	font-weight: bold;
}

#category {
	background-color: gray;
}

nav {
	float: clear;
	width: 90%;
	margin: auto;
	margin-bottom: 3%;
}

nav li {
	display: inline;
	margin: 2%;
	margin-left: 2%;
	width: 20%;
}

nav li a {
	font-size: 2em;
	color: white;
	margin: 0;
	padding: 10px;
	background-color: black;	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: solid thin gray;
	box-shadow: 4px 4px 3px rgba(255,255,255,0.3);
}

section	{
	float: left;
	width: 68%;
	background-color: black;
	border: medium solid white;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	margin-bottom: 1%;
}

section ul {
	font-size: 1.5em;
	text-align: left;
	list-style: square;
	line-height: 1.5;
	margin-bottom: 1em;
}	/* Use this style for ol and ul tags */

aside	{
	float: right;
	width: 29%;
	margin-right: 1%;
	margin-bottom: 1%;
	background-color: gray;
	border: medium solid white;
	-moz-border-radius: 15px;
	-khtml-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	box-shadow:7px 7px 7px rgba(0,0,0,0.5);
}

footer {
	clear:both;
	display:block;
	background-color:gray;
	margin-top:1%;
	padding:0.5%;
	-moz-border-radius:15px;
	-khtml-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
}

footer p {
	margin: 0.5em;
}

#smalltext {
	font-size:small;
	margin-left:1em;
	margin-top:-0.1em;
}

#bitmojitext {
	float: right;
	font-size:medium;
	margin-left:1em;
	margin-top:-0.1em;
}

/* Images and Video */

#bitmoji {
		width: 400px;
		float: right;
		margin: 7px;
		margin-top: -5%;
		margin-right: 2%;
		padding: 10px;
		box-shadow: 7px 7px 7px rgba(0,0,0,0.5);
}

#bitmoji img {
		max-width: 380px;
		border: medium white solid;
}

#bitmoji img:hover {
		transform: scaleX(-1);
		transition: .75s ease-in-out;
}

#small {
		width:250px;
		float:right;
		margin:7px;
		margin-top:1%;
		margin-right:2%;
		padding:10px;
		box-shadow:7px 7px 7px rgba(0,0,0,0.5);
}

#small img {
		width:230px;
		margin-top:-3em;
		-moz-border-radius:5px;
		-khtml-border-radius:5px;
		-webkit-border-radius:5px;
		border-radius:5px;
		border:medium solid white;
}

#pic1 {
		float: right;
		max-width: 400px;
		margin-top: -40%;
		margin-right: 2%;
}	/* eighth grade index image */

#pic1:hover {
		transform: rotateY(190deg);		
		transition: .7s ease-in-out;
}	/* eighth grade index image */

#pic2 {
		float: right;
		max-width: 400px;
		margin-top: -40%;
		margin-right: 2%;
}	/* seventh grade index image */

#pic2:hover {
		filter: grayscale(100%);
		transition: .5s ease-in-out;
}	/* seventh grade index image */

#pic3 {
		float: right;
		max-width: 400px;
		margin-top: -40%;
		margin-right: 3%;
}	/* sixth grade index image */

#pic3:hover {
		filter: invert(100%);
		transition: .5s ease-in-out;
}	/* sixth grade index image */


#small p {
		text-align: right;
		margin-right: 1em;
}

#ep {
		width:250px;
		float:right;
		margin:7px;
		margin-right:2%;
		padding:10px;
		border: 2px solid gray;
		-moz-border-radius: 30px;
		-khtml-border-radius: 30px;
		-webkit-border-radius: 30px;
		border-radius: 30px;
		box-shadow:7px 7px 7px rgba(0,0,0,0.5);
}


#middle {
		width:400px;
		margin:7px;
		padding:10px;
		border: 2px solid gray;
		-moz-border-radius: 30px;
		-khtml-border-radius: 30px;
		-webkit-border-radius: 30px;
		border-radius: 30px;
		box-shadow:7px 7px 7px rgba(0,0,0,0.5);
}

iframe {
	margin-top: 50px;
	margin-bottom: 30px;
} 	/* YouTube Videos */

video {
    margin-top: 50px;
	margin-bottom: 30px;    
}	/* YouTube Videos */

ins {
	margin-top: -3.6em;
}	/* AdSense Ads */

/* Directory Style */

#directory1 {
	width: 32%;
	float: left;
	margin: 2px;
}

#directory2 {
	width:32%;
	float:left;
	margin: 2px;
}

#directory3 {
	width: 32%;
	float: left;
	margin: 2px;

}

/* Media Query */

@media only screen 
and (max-width : 650px) {

#title {
	float: left;
	margin-bottom: 1%;
}

nav {
	float: left;
	clear: both;
}

section {
	clear: both;
	float: left;
	margin: auto;
    width: 100%;
	margin-bottom: 1em;
}

aside {
	clear: both;
	float: left;
	margin: auto;
    width: 100%;
	margin-bottom: 1em;
}
	
nav li a {
	display:block;
	float: left;
	font-size: 1.5em;
	width:50%;
	line-height: 2;
	margin-bottom: 1em;
}
	
#directory1 {
width: 100%;
	float: left;
}

#directory2 {
width: 100%;
	float: left;
}

#directory3 {
width: 100%;
	float: left;
}
}
	
@media only screen and (min-width: 650px) and (max-width: 720px){
	
#title {
	margin-bottom: 3.5%;
}

nav li a {
	font-size: 0.9em;
}
	
#directory1 {
width: 31%;
	float: left;
	margin: 3px;
}

#directory2 {
width: 31%;
	float: left;
	margin: 3px;
}

#directory3 {
width: 31%;
	float: left;
	margin: 3px;
}
}

@media only screen and (min-width: 720px) and (max-width: 943px){

#title {
	clear: both;
	margin: auto;
}

nav {
	clear: both;
	margin: auto;
	margin-top: 2em;
	margin-bottom: 1.5em;
}

nav li a {
	font-size: 1.2em;
	margin: 0;
}
	
#directory1 {
width: 32%;
	float: left;
	margin: 2px;
}

#directory2 {
width: 32%;
	float: left;
	margin: 2px;
}

#directory3 {
width: 32%;
	float: left;
	margin: 2px;
}
}

@media only screen and (min-width: 943px) {
	
#title {
	width: 70%;
	margin-bottom: 2%;
	font-size: 4em;
}
	
nav {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}
	
nav li {
	padding: 0;
}

nav li a {
	font-size: 1.5em;
}
} 

/* iPhone 6,7,8 portrait and landscape */

@media screen and (min-device-width:375px) and (max-device-width:667px) {

nav {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}
	
nav li {
	padding: 0;
}

nav li a {
	font-size: .85em;
}

#bitmoji {
	margin-top: 3%;
}
	
#large {
	margin-top: 2%;
}
	
#pic1 {
	margin-top: -20%;
}
	
#pic2 {
	margin-top: -15%;
	margin-bottom: 5%;
	margin-right: 0;
}
	
#pic2 img {
	max-width: 300px;
}
	
#pic3 {
	margin-bottom: 5%;
}
} 