@charset "utf-8";
/* CSS Document */

body {
	background-color:gray;
	background-image:url(../../images/retro-black-white.jpg);	
}
a {
	color:black;
	font-weight:600;
	text-decoration:none;	
}
a:hover {
	color:gray;
}
#google_translate_element {
	position:absolute;
	top:-50px;
	right:5px;
	border:solid medium black;	
}
#home {
	width:40px;
	position:absolute;
	top:-50px;
	left:7px;
	opacity:0.7;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; /*IE8 Hack*/
}
#home:hover {
	opacity:0.3;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"; /*IE8 Hack*/
	box-shadow:thin black solid;
}
#home a {
	border:0;
	text-decoration:none;
} /* IE-you never fail to disappoint me */
nav {
	width:100%;
	text-align:center;
	margin-top:-70px;
}
nav a {
	text-decoration:none;
	color:black;	
}
nav a:hover {
	color:gray;	
}
nav ul {
	margin:0 auto;
}
nav li	{
	margin:0;
	display:inline;
	font-size:30px;
	padding-left:3px;
	padding-right:3px;
	text-shadow: 0px 2px 3px #DDD;
}
#wrapper {
	margin:0 auto;
	margin-top:50px;
	width:85%;
}
header h1 {
	font-size:6em;
	text-align:center;
	-webkit-text-shadow: 0px 2px 4px gray;
	text-shadow: 0px 2px 4px gray;
}
section {
	background-color:white;
	opacity:0.8;
	margin-top:25px;
	border:medium gray solid;
	-moz-border-radius:20px;
	-webkit-border-radius: 10px;
	border-radius: 10px;	
}
th {
	width:16.6%;
	background-color:black;
	-webkit-opacity:1;
	color:white;
	vertical-align:middle;
	padding:3px;
	padding-bottom:10px;
	margin:5px;
	font-size:1.3em;
	font-weight:bold;
	font-family:Tahoma,Arial, Helvetica, sans-serif;	
}
td {
	text-align:center;
	vertical-align:middle;
	padding:3px;
	margin:3px;
	font-size:1em;
	font-family:Tahoma,Arial, Helvetica, sans-serif;	
}
footer {
	font-size:1.2em;
	color:black;
	padding:.5%;
	margin-top:-15px;
}
footer a {
	color:black;
	text-decoration:none;
}
@media only screen and (max-device-width: 480px) {
	#home {
		-webkit-transform:scale(1.4);
		position:absolute;
		top:15px;
		left:15px;
		opacity:0.7;
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; /*IE8 Hack*/
	}
	header h1 {
		font-size:4em;
		line-height:1em;
		margin-top:75px;	
	}
	nav {
		margin-top:-15px;
		margin-left:-1%;
	}
	nav li	{
		font-size:20px;
	}
	#wrapper {
		margin:0 auto;
		margin-top:50px;
		width:95%;
	}
	td {
		font-size:1.3em;
		font-weight:600;	
	}
}
